nav {
   transition: top 0.3s;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 10em;
   top: 0;
   position: fixed;
   z-index: 9 !important;
   .navbar-items-container {
      z-index: 10 !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 70%;
   }

   .navbar_logo {
      width: 6em;
      height: inherit;
      -webkit-user-drag: none;
   }

   ul {
      font-size: 1.5rem;
      font-family: "Antonio-Light";
      display: flex;
      width: 15%;
      justify-content: space-between;
      .navbar-li-container {
         display: flex;
         align-items: center;
      }
      li {
         list-style: none;
         margin-right: 0.2em;
      }
   }
}
.section {
   height: 250vh;
   width: 70%;
   margin: 10em auto 0 auto;

   p {
      font-size: clamp(1.429rem, 2vw + 1rem, 2rem);
   }
}

// HERO HERO HERO
// HERO HERO HERO
// HERO HERO HERO

.hero {
   height: 100vh;
   width: 100%;
   margin: 0 auto 20em auto;

   .bg {
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
   }

   .container {
      top: 0;
      height: 100vh;
      width: 100%;
      display: grid;
      place-content: center;
   }

   .content {
      color: rgb(255, 255, 255);
      text-align: center;
      h1 {
         font-family: "Prompt-Black";
         margin-bottom: 0;
         font-weight: normal;
         font-size: 6rem;
      }

      .title-reveal {
         clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
         mix-blend-mode: difference;
         margin-top: 0.15em;
      }
      .text-reveal {
         position: absolute;
         width: 18.2em;
         clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
         font-family: "Antonio-Thin";
         mix-blend-mode: difference;
         font-size: 1.9rem;
         img {
            width: 1.9em;
            position: relative;
         }
      }
   }
}

// PROJECTS ANIMATION
// PROJECTS ANIMATION
// PROJECTS ANIMATION

.pojects_grid {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   position: relative;
}
.pojects_item {
   position: absolute;
   font-family: "Cehua";
   font-size: clamp(4rem, 4vw + 4rem, 7rem);
   overflow: hidden;
}
.pojects_stroke {
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0.085vw;
   z-index: 1;
}
.vert_wraper {
   display: flex;
   flex-direction: column;
}
.pojects_menu_section {
   @extend .section;
   height: 80vh;
   margin-top: 5em;

   .pojects_menu_grid {
      @extend .pojects_grid;
      align-items: center;
      text-align: center;
      height: 80vh;
      position: relative;
      justify-content: space-between;

      .pojects_menu_item {
         @extend .pojects_item;
         color: rgba(175, 182, 223, 0.331);
         height: 20vh;
         .link {
            display: flex;
            flex-direction: row;
            justify-content: center;
         }
         left: 0;
         position: relative;
         #ghost {
            left: 0;
            border-bottom: solid 0px rgba(175, 182, 223);
         }
      }
      .pojects_menu_item_fill {
         border-bottom: solid 2px rgba(175, 182, 223);
         left: 0;
         width: 0;
         color: rgba(175, 182, 223);
         overflow: hidden;
         position: absolute;
         transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
      }
   }
}

.poject_mini {
   width: 0;
   max-height: 1em;
   max-width: 1.5em;
   display: none;
   margin: 0.1em;
   transform-origin: 50%;
   z-index: 1;
}
.flying_video {
   clip-path: polygon(
      7% 15%,
      28% 13%,
      45% 18%,
      62% 16%,
      94% 18%,
      94% 35%,
      91% 48%,
      93% 63%,
      91% 76%,
      93% 93%,
      66% 93%,
      46% 91%,
      27% 92%,
      8% 90%,
      8% 70%,
      12% 58%,
      8% 45%,
      11% 33%
   );
   z-index: 0;
   max-width: 50em;
   border-radius: 3%;
   position: relative;
   top: -20em;
   right: -100em;
   transform: rotate(-20deg);
}

// FILMMAKING,VIDEOEDITITNG,ETC
// FILMMAKING,VIDEOEDITITNG,ETC
// FILMMAKING,VIDEOEDITITNG,ETC

.page_section {
   height: min-content;
   width: 100%;
   margin: 10em auto 0 auto;

   p {
      font-size: clamp(1.429rem, 2vw + 1rem, 2rem);
   }
}

.subtitle {
   font-family: "Cehua";
   margin: 39vw 0 0 51vw;
   font-size: 6vw !important;
   position: absolute;
}
.subtitle_stroke {
   z-index: 6;
   @extend .subtitle;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0.085vw;
   position: absolute;
}

.reel {
   margin: 1em 0 0 0;
   max-width: 80%;

   .reel_video {
      clip-path: polygon(
         0% 100%,
         0% 0%,
         100% 0%,
         100% 88%,
         93% 91%,
         91% 96%,
         81% 91%,
         78% 98%,
         68% 96%,
         58% 100%
      );
   }
}

.work_container {
   display: flex;
   flex-direction: column;
   align-items: center;

   .work_title {
      margin-top: 0.15em;
      font-size: clamp(4.125rem, 2.0594rem + 10.3281vi, 14.4531rem);
      @extend .pojects_item;
   }
   .work_title_stroke {
      @extend .pojects_stroke;
      z-index: 6;
   }

   .work_grid {
      margin-top: 20em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 90%;
   }
   .img_container {
      max-width: 100%;
      margin: 1em;

      video {
         max-height: 100%;
         object-fit: scale-down;
         width: fit-content;
      }
   }
   .vertical_video {
      @extend .img_container;
      max-height: 38vw;
      max-width: 20.78vw;
   }
   .wraper {
      display: flex;
   }
   .modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.479);
      z-index: 9;
      .modal-content {
         width: 80%;
         max-width: 70vw;
         position: absolute;
      }
   }

   .close {
      color: #aaa;
      float: right;
      font-size: 3em;
      font-weight: bold;
      cursor: pointer;
   }

   .close:hover,
   .close:focus {
      color: black;
      text-decoration: none;
   }

   .video-container video {
      cursor: pointer;
   }

   .carousel-container {
      display: flex;
      font-family: "Antonio-ExtraLight";
      width: 60%;
      flex-direction: column;
      align-items: center;
      margin: 20px;
   }

   .carousel-text {
      font-size: clamp(0.75rem, 2vw + 1rem, 2.5rem) !important;
      display: flex;
      align-items: center;
      text-align: center;
      height: 8em;
      margin: 1em;
      transition: opacity 1s ease-in-out;
   }
   .carousel-controls {
      display: flex;
      button:hover {
         transform: scaleY(2.5);
      }
   }

   .carousel-control {
      width: 2em;
      height: 0.2em;
      margin: 0.3em;
      background-color: rgba(94, 99, 120, 0.921);
      border: none;
      cursor: pointer;
      transition: 0.3s;
   }

   .carousel-control.active {
      background-color: rgba(175, 182, 223, 0.87);
   }
   .upwork_container {
      width: 75%;
      display: flex;
      justify-content: space-between;
      .upwork_logo {
         width: 6em;
         height: max-content;
      }
   }

   .logo-container {
      position: relative;
      display: inline-block;
   }

   .estrellita {
      display: block;
   }

   .sparkle-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
   }

   .sparkle {
      position: absolute;
      width: 5px;
      height: 5px;
      background: rgba(216, 189, 255, 0.399);
      box-shadow: 0 0 10px rgba(216, 189, 255, 0.171),
         0 0 20px rgba(216, 189, 255, 0.171);
      border-radius: 50%;
      animation: sparkle 1s ease-in-out infinite;
   }

   @keyframes sparkle {
      0%,
      100% {
         transform: scale(1);
         opacity: 1;
      }
      50% {
         transform: scale(2);
         opacity: 0.5;
      }
   }

   .banner_filmmaking {
      clip-path: polygon(
         1% 0%,
         100% 0%,
         100% 89%,
         81% 73%,
         54% 91%,
         31% 71%,
         21% 85%,
         0 75%
      );
      position: absolute;
      top: 0;
      left: 0;
      height: 26em;
      z-index: 5;
      filter: brightness(70%);
      overflow-x: hidden;
   }
   .banner_videoediting {
      @extend .banner_filmmaking;
      clip-path: polygon(
         0 3%,
         0 28%,
         3% 49%,
         0 83%,
         17% 100%,
         44% 85%,
         64% 100%,
         79% 90%,
         95% 93%,
         99% 65%,
         97% 52%,
         97% 34%,
         89% 26%,
         95% 14%,
         95% 1%,
         66% 9%,
         48% 2%,
         28% 6%,
         14% 0
      );
      top: -20%;
      left: 30%;
      height: 33em;
      transform: rotate(-10deg);
   }
   .banner_Animation {
      @extend .banner_filmmaking;
      top: -20%;
      left: -10%;
      height: 39em;
      transform: rotate(-15deg);
   }
   .banner_Colorgrading {
      @extend .banner_filmmaking;
      top: -25%;
      left: -4%;
      height: 46em;
      transform: rotate(10deg);
   }
}

// VIDEO DETAIL
// VIDEO DETAIL
// VIDEO DETAIL

.video-detail {
   max-height: fit-content;
   margin: 9em auto 0 auto;
   display: flex;
   justify-content: center;
   video {
      max-width: fit-content;
      max-height: 37vw;
   }
}
.back-button {
   left: 6em;
   top: 10em;
   border: unset;
   border-radius: 1em;
   color: rgba(175, 182, 223, 0.87);
   z-index: 10;
   background: transparent;
   position: fixed;
   transition: all 250ms;
   overflow: hidden;
   height: 3.5em;
   width: 3.5em;
}

.back-button::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
   border-radius: 15px;
   background-color: rgba(175, 182, 223, 0.87);
   z-index: -1;
   transition: all 250ms;
}

.back-button:hover {
   color: #1e1e1e;
}

.back-button:hover::before {
   width: 100%;
}

// FOOTER
// FOOTER
// FOOTER

.footer {
   margin-top: 5em;
   height: 20vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   .animated-line {
      z-index: 0;
      border: none;
      width: 100%;
      height: 1px;
      background-image: radial-gradient(circle, #636363, transparent);
   }

   p {
      font-family: "Antonio-Thin";
      letter-spacing: 7px;
   }
}

//TEAM
//TEAM
//TEAM

.team_title {
   font-family: "Cehua";
   font-size: clamp(6rem, 8vw + 12rem, 9rem);
   .team_work_grid {
      @extend .work_grid;
      margin-top: 1em;
   }
}

// For Specific Components
// For Specific Components
// For Specific Components

.logo-container {
   display: flex;
   flex-direction: row;

   a {
      transition: all 0.4s;
   }
   a:hover {
      transform: scale(1.1);
   }
}
.logos {
   width: 3em;
   height: 3em;
}
.external-logo {
   width: 2.5em;
   height: 2.5em;
   position: absolute;
   z-index: 99;
   color: #e3e3e3;
   mix-blend-mode: difference;
}
// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media screen and (max-width: 1280px) {
   nav {
      ul {
         width: 30vh;
      }
   }
}
@media screen and (max-width: 878px) {
   .divider {
      margin-top: 4em;
   }
   .video-detail {
      min-height: 80vw;
      margin: 50% auto 0 auto;
      video {
         max-height: 55vw;
      }
   }
}
@media screen and (max-width: 522px) {
   .banner_container {
      position: relative;
      height: 23em;
      width: 100%;
      overflow-x: hidden;
   }

   .banner_videoediting {
      top: 0em !important;
      height: 21em !important;
   }

   .carousel-container {
      width: 90% !important;
      margin: 0;
   }

   .content {
      margin-bottom: 10em;
      h1 {
         font-size: 4.01em !important;
      }
      p {
         font-size: 1.305em !important;
         width: 17.7em !important;
      }
      img {
         width: 1.43em !important;
         position: relative !important;
      }
   }

   .navbar-items-container {
      width: 90% !important;
   }

   .logo-container {
      align-items: center;

      a {
         margin-left: 0.5rem;
      }
   }

   .work_title {
      margin-top: 50% !important;
      font-size: 16vw !important;
      position: absolute !important;
   }

   .work_grid {
      margin-top: 1em !important;
      .img_container {
         margin: 0.3em;
      }
   }

   .footer {
      margin-top: 2em;
   }

   .section {
      height: 220vh;
      width: 100%;
      margin-top: 10em;
      overflow: hidden;
   }

   .page_section {
      height: min-content;
   }

   .pojects_grid {
      height: inherit;
      position: relative;
      text-align: center;
   }
   .pojects_item {
      margin-top: 3em;
      position: relative;
      font-size: clamp(2.2rem, 2.2vw + 2.2rem, 4rem);
   }
   .pojects_stroke {
      display: none;
   }

   .work_title_stroke {
      position: absolute !important;
      display: block !important;
   }

   .pojects_menu_section {
      height: 60vh;
      margin-top: 5em;

      .pojects_menu_grid {
         height: 60vh;
      }
      .pojects_menu_item {
         font-size: clamp(3rem, 2vw + 2rem, 3.8rem) !important;
         height: fit-content;
         margin: 0 !important;
         .link {
            height: fit-content;
         }
      }
   }
}
@media screen and (max-width: 424px) {
   .logo-container {
      text-align: start;
      p {
         width: min-content;
      }
      a {
         margin-right: 0.5rem;
      }
   }
   nav {
      ul {
         flex-direction: column;
         align-items: end;

         li {
            font-size: 0.9em;
         }
      }
   }
   .tecnologies {
      margin: 0 auto 2em auto;
   }

   .work_title {
      margin-top: 38% !important;
   }
   .upwork_container {
      align-items: center;
      flex-direction: column-reverse;
   }
}
