* {
   margin: 0;
   padding: 0;
   border: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   vertical-align: baseline;
   scroll-behavior: smooth;
   cursor: default;
   --swiper-navigation-color: rgba(175, 182, 223, 0.87);
}
::selection {
   color: rgba(144, 116, 158, 0.696);
}
::-webkit-scrollbar {
   width: 0;
}
img,
picture,
video,
iframe,
figure {
   max-width: 100%;
   width: 100%;

   -o-object-fit: cover;
   object-fit: cover;

   -o-object-position: center center;
   object-position: center center;
}
strong{
   color: rgba(222, 223, 224, 0.87);
}
@font-face {
   font-family: "Cehua";
   src: url(Fonts/CehuaFree.otf);
}

@font-face {
   font-family: "Prompt-Black";
   src: url(Fonts/Prompt-Black.ttf);
}
@font-face {
   font-family: "Antonio-Thin";
   src: url(Fonts/Antonio-Thin.ttf);
}
@font-face {
   font-family: "Antonio-Light";
   src: url(Fonts/Antonio-Light.ttf);
}
@font-face {
   font-family: "Antonio-ExtraLight";
   src: url(Fonts/Antonio-ExtraLight.ttf);
}

h1 {
   font-size: clamp(3.7rem, 3vw + 3rem, 5rem);
}
:root {
   margin: 0 auto;
   color: rgba(175, 182, 223, 0.87);
   background-color: #1e1e1e;

   background-size: 100%;
   background-attachment: fixed;
   font-family: "Hanken Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
   overflow-x: hidden;
}

a {
   text-decoration: none;
   color: inherit;
   -webkit-user-drag: none;
}
