

/* Custom Selection */
::selection {
    background: rgba(144, 116, 158, 0.5); 
    color: white;
}

::-moz-selection {
    background: rgba(144, 116, 158, 0.5);
    color: white;
}

/* CSS for cursor-hiding based on hover capability */
@media (hover: hover) {
    *, *::before, *::after {
        cursor: none !important;
    }

    html, body, #root {
        cursor: none !important;
    }
}
